<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="/admin" class="list-group-item list-group-item-action py-2 ripple" aria-current="true"><i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-calendar fa-fw me-3"></i><span>Calendrier</span></a>
        <a href="/user" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-users fa-fw me-3"></i><span>Utilisateurs</span></a>
        <a href="/messages" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-users fa-fw me-3"></i><span>Messages</span></a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <a class="navbar-brand me-2" href="/">OnlineCourses</a>
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link left" href="#">Formation</a></li>
        <li class="nav-item"><a class="nav-link left" href="/seeCourses">Cours</a></li>
        <li class="nav-item"><a class="nav-link left" href="#">Blog</a></li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <ul class="navbar-nav ms-auto d-flex flex-row">

        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img src="/assets/images/{{user.avatar}}" class="rounded-circle" height="22" alt="Profil Picture" loading="lazy" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/profil"  style="color: black !important;">Mon profil</a></li>
            <li><a class="dropdown-item" href="/admin"  style="color: black !important;">Dashboard</a></li>
            <li><a class="dropdown-item" href="/parametres" style="color: black !important">Paramètres</a></li>
            <li><a class="dropdown-item" href="/deconnexion" style="color: black !important;">Déconnexion</a></li>
          </ul>
        </li>
        {{/if}}
      </ul>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">

{{#if db}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">user_id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Sujet</th>
      <th scope="col">Message</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
    {{#each db}}
  <tbody>
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.user_id}}</td>
      <td>{{this.nom}}</td>
      <td>{{this.prenom}}</td>
      <td>{{this.sujet}}</td>
      <td>{{this.message}}</td>
      <td>{{this.email}}</td>
    </tr>
  </tbody>
  {{/each}}
</table>
  </div>
  {{else}}
    <h1>Vide</h1>
{{/if}}
</main>
<!--Main layout-->
