{{#if user.isAdmin}}
{{>navAdmin}}
{{else}}
{{>navConnected}}
{{/if}}




<div class="container">
  <h1 style="text-align: center; margin-top: 100px;">Cours en libre d'accès</h1>
  {{#if db}}
  {{#each db}}

<style>
  .Cours{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
  }

.imgCours{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .imgCours img{
    width: 80px;
    height: 80px;
  }
  .Cours:hover{
    box-shadow: 5px 5px 15px 5px #000000;
  }

  .infoCours{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 20px;
  }

</style>

  <a class="container Cours" href='/cours/{{this.id}}'>
    <div class="imgCours">
      <img src="/assets/images/{{this.image}}" alt="image" />
    </div>

    <div class="infoCours">
      <div class="titreCours">
        <h3>{{this.titre}}</h3>
    </div>

      <div class="descriptionCours">
        <p>{{this.description}}</p>
      </div>
    </div>
  </a>

  {{else}}
    <h1>Base de donnée vide</h1>
  {{/each}}
  {{/if}}
</div>